html,body{
  padding: 0;
  margin: 0;
}

body{
  background-color: #000;
}

.container{
  width: 1138px;
  height: 768px;
  position: fixed;
  background-image: url('images/back.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.tong-left,
.tong-right{
  position: absolute;
  width: 450px;
  height: 400px;
  background-repeat: no-repeat;
  border: 1px solid white;
}

.tong-left{
  background-image: url('images/tong_left.jpg');
}

.tong-right{
  background-image: url('images/tong_right.jpg');
}